NODE_ENV=development

PASTODEL_FORMS_HOST=127.0.0.1
PASTODEL_FORMS_PORT=8787
PASTODEL_ALLOWED_ORIGIN=https://pastodel.ru

PASTODEL_FORMS_DELIVERY=mock
PASTODEL_FORMS_TO=a.goryachkina@muchmilk.ru
PASTODEL_FORMS_FROM=
PASTODEL_FORMS_REPLY_TO_ENABLED=true

PASTODEL_SMTP_HOST=
PASTODEL_SMTP_PORT=587
PASTODEL_SMTP_SECURE=false
PASTODEL_SMTP_REQUIRE_TLS=true
PASTODEL_SMTP_USER=
PASTODEL_SMTP_PASS=
PASTODEL_SMTP_CONNECTION_TIMEOUT_MS=10000
PASTODEL_SMTP_GREETING_TIMEOUT_MS=10000
PASTODEL_SMTP_SOCKET_TIMEOUT_MS=15000
PASTODEL_SMTP_DNS_TIMEOUT_MS=5000

PASTODEL_FORMS_BODY_LIMIT_BYTES=32768
PASTODEL_FORMS_HEADERS_TIMEOUT_MS=10000
PASTODEL_FORMS_REQUEST_TIMEOUT_MS=15000
PASTODEL_FORMS_KEEP_ALIVE_TIMEOUT_MS=5000
PASTODEL_FORMS_MAX_HEADERS_COUNT=40
PASTODEL_FORMS_MAX_REQUESTS_PER_SOCKET=20
PASTODEL_FORMS_MAX_IN_FLIGHT=5
PASTODEL_FORMS_SHUTDOWN_TIMEOUT_MS=15000
PASTODEL_FORMS_LOG_LEVEL=info
